name: CI

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
    - '**.md'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        emacs_version:
          - 30.1
          - snapshot
        include:
          - os: macos-latest
            emacs_version: 30.1
    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/checkout@v2
    - name: Check startup
      run: sh test-startup.sh
